<!--The content below is only a placeholder and can be replaced.-->
<mat-form-field>
  <input matInput placeholder="Username" [(ngModel)]="user.userName">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Firstname" [(ngModel)]="user.firstName">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="
      lastname" [(ngModel)]="user.lastName">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="user.password">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addUser()">Add User</button>
      <div *ngIf="postSuccess !== null && postSuccess">
        Successfully added
      </div>
      <div *ngIf="postSuccess !== null && !postSuccess">
        failed added
        </div>

        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let u of users">
            {{u.firstName + ' ' + u.lastName}}
          </mat-list-item>
        </mat-list>
        <app2>
          
        </app2>